{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
<h1>Денежные потоки</h1>
<form method="get">
    <label>Тип:
        <select name="type">
            <option value="">Все</option>
            {% for t in types %}
                <option value="{{ t.id }}" {% if t.id|stringformat:"s" == request.GET.type %}selected{% endif %}>
                    {{ t.name }}
                </option>
            {% endfor %}
        </select>
    </label>
    <br>

    <label>Категория:
        <select name="category">
            <option value="">Все</option>
            {% for c in categories %}
                <option value="{{ c.id }}" {% if c.id|stringformat:"s" == request.GET.category %}selected{% endif %}>
                    {{ c.name }}
                </option>
            {% endfor %}
        </select>
    </label>
    <br>
    <label>Статус:
        <select name="status">
            <option value="">Все</option>
            {% for s in statuses %}
                <option value="{{ s.id }}" {% if s.id|stringformat:"s" == request.GET.status %}selected{% endif %}>
                    {{ s.name }}
                </option>
            {% endfor %}
        </select>
    </label>
    <br>

    <label>Дата с:
        <input type="date" name="date_from" value="{{ date_from }}">
    </label>

    <label>по:
        <input type="date" name="date_to" value="{{ date_to }}">
    </label>
    <br>
    {% bootstrap_button button_type="submit" content="Фильтр" %}
    
</form>
<table>
    <thead>
        <tr>
            <th>Дата</th>
            <th>Статус</th>
            <th>Тип</th>
            <th>Категория</th>
            <th>Подкатегория</th>
            <th>Сумма</th>
            <th>Комментарий</th>
        </tr>
    </thead>
    <tbody>
        {% for flow in flows %}
            <tr>
                <td>{{ flow.date_of_creation }}</td>
                <td>{{ flow.status.name }}</td>
                <td>{{ flow.type.name }}</td>
                <td>{{ flow.category.name }}</td>
                <td>{{ flow.sub_category.name }}</td>
                <td>{{ flow.total }} ₽</td>
                <td>{{ flow.description|default:"—" }}</td>
                <td>
                    <a href="{% url 'entities:moneyflow_update' flow.pk %}">✏️</a>
                    <a href="{% url 'entities:moneyflow_delete' flow.pk %}">🗑️</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7">Нет данных</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'entities:moneyflow_create' %}" class="add-button btn btn-primary">➕ Добавить запись</a>

{% endblock %}